@font-face {
    font-family: 'VariableRoboto';
    src: url('../fonts/RobotoFlex.ttf') format('truetype');
    font-variation-settings: 'GRAD' 0, 'XOPQ' 0, 'XTRA' 0, 'YOPQ' 0, 'YTAS' 0, 'YTDE' 0, 'YTFI' 0, 'YTLC' 0, 'YTUC' 0, 'opsz' 0, 'slnt' 0, 'wdth' 0, 'wght' 0;
    /* wght: 100-1000, wdth: 25-151, opsz: 8-144, GRAD: -200-150, slnt: -10-0, XTRA: 323-603, XOPQ: 27-175, YOPQ: 27-135, YTLC: 416-570, YTUC 528-760, YTAS: 649-854, YTDE: -305 - -98, YTFI- 560-788 */
}

.comp2 {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: auto;
    column-gap: 10px;
    padding-bottom: 200px;
    justify-content: center;
    align-content: center;
    padding: 100px;
    transform: translateX(20px);
    
}

.comp2 span{
    font-family: "VariableRoboto", sans-serif;
    font-variation-settings: "XOPQ" 175, "XTRA" 603, "YOPQ" 70, "YTUC" 760, "opsz" 144, "wdth" 151, "wght" 500, "slnt" -10;
    font-size: 5em;
    align-self: center;
    justify-self: center;
}

.move {
    animation: horiz 20s ease-in-out, squish 20s ease-in-out;
    animation-iteration-count: infinite;
}

.delay-1 {
    animation: horiz 20s ease-in-out, squish 20s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 1s; /* Adjust the delay time as needed */
}

.delay-2 {
    animation: horiz 20s ease-in-out, squish 20s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 2s; /* Adjust the delay time as needed */
}

.delay-3 {
    animation: horiz 20s ease-in-out, squish 20s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 3s; /* Adjust the delay time as needed */
}

.delay-4 {
    animation: horiz 20s ease-in-out, squish 20s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 4s; /* Adjust the delay time as needed */
}

.delay-5 {
    animation: horiz 20s ease-in-out, squish 20s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 5s; /* Adjust the delay time as needed */
}

.delay-6 {
    animation: horiz 20s ease-in-out, squish 20s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 6s; /* Adjust the delay time as needed */
}

.delay-7 {
    animation: horiz 20s ease-in-out, squish 20s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 7s; /* Adjust the delay time as needed */
}

.delay-8 {
    animation: horiz 20s ease-in-out, squish 20s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 8s; /* Adjust the delay time as needed */
}

.delay-9 {
    animation: horiz 20s ease-in-out, squish 20s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 9s; /* Adjust the delay time as needed */
}

@keyframes horiz {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    5% {
        transform: translateX(-150px) translateY(0px);
    }
    45% {
        transform: translateX(-150px) translateY(0px);
    }
    50% {
        transform: translateX(-150px) translateY(150px);
    }
    55% {
        transform: translateX(-150px) translateY(150px);
    }
    95% {
        transform: translateX(0px) translateY(150px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}

@keyframes squish {
    0% {
        font-variation-settings: "XOPQ" 175, "XTRA" 603, "YOPQ" 70, "YTUC" 760, "opsz" 144, "wdth" 151, "wght" 500, "slnt" -10;
    }
    1% {
        font-variation-settings: "XOPQ" 175, "XTRA" 603, "YOPQ" 70, "YTUC" 760, "opsz" 144, "wdth" 151, "wght" 500, "slnt" -10;
    }
    4% {
        font-variation-settings: "XOPQ" 175, "XTRA" 603, "YOPQ" 70, "YTUC" 760, "opsz" 144, "wdth" 25, "wght" 500, "slnt" 0;
    }
    8% {
        font-variation-settings: "XOPQ" 175, "XTRA" 603, "YOPQ" 70, "YTUC" 760, "opsz" 144, "wdth" 151, "wght" 500, "slnt" 0;
    }
    47% {
        font-variation-settings: "XOPQ" 175, "XTRA" 603, "YOPQ" 70, "YTUC" 760, "opsz" 144, "wdth" 151, "wght" 500, "slnt" 0;
    }
    50% {
        font-variation-settings: "XOPQ" 175, "XTRA" 603, "YOPQ" 70, "YTUC" 528, "opsz" 144, "wdth" 25, "wght" 500, "slnt" 0;
    }
    53% {
        font-variation-settings: "XOPQ" 175, "XTRA" 603, "YOPQ" 70, "YTUC" 760, "opsz" 144, "wdth" 151, "wght" 500, "slnt" 0;
    }
    100% {
        font-variation-settings: "XOPQ" 175, "XTRA" 603, "YOPQ" 70, "YTUC" 760, "opsz" 144, "wdth" 151, "wght" 500, "slnt" -10;
    }

}

